body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

nav {
  display: flex;
  min-height: 8vh;
  background-color: whitesmoke; }
  nav .logo1 {
    height: 5vh; }
  nav .logo2 {
    height: 5vh;
    display: none; }
  nav .nav-links {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%; }
    nav .nav-links a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      margin-right: 10px;
      text-align: center;
      font-weight: 200;
      font-size: 12px;
      letter-spacing: 2px;
      height: 8vh;
      width: 100px;
      transition: all 0.5s ease;
      color: black;
      text-decoration: none; }
    nav .nav-links li {
      transition: all 0.5s ease;
      height: 8vh;
      list-style: none; }
      nav .nav-links li:hover {
        cursor: pointer; }
  nav .burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease; }
  nav .burger {
    display: none; }

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden; }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }

  nav .logo2 {
    height: 5vh;
    display: flex; }

  .nav-links {
    z-index: 999;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 8vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-120%);
    transition: transform 1s ease-in; }

  .nav-links li {
    opacity: 0; }

  nav .burger {
    z-index: 1;
    display: block;
    cursor: pointer; }

  nav .logo1 {
    display: none; }

  nav #logo1 {
    display: none; } }
.nav-active {
  transform: translateY(0%); }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(-150px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  transition: transform 0.5s ease-in; }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
  transition: transform 0.5s ease-in; }

.landing {
  margin-bottom: -7px; }
  .landing #myVideo {
    width: 100vw; }

.diamond_menu_container {
  height: 600px;
  background-color: #92e5e5;
  background: url("../imgs/diamond_menu/topo_background.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 620px) {
    .diamond_menu_container {
      height: 420px; } }
  .diamond_menu_container .diamond_menu {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    position: relative;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }
    .diamond_menu_container .diamond_menu a {
      text-decoration: none; }
    @media only screen and (max-width: 620px) {
      .diamond_menu_container .diamond_menu {
        grid-template-columns: 120px 120px;
        grid-template-rows: 120px 120px; } }
    .diamond_menu_container .diamond_menu .box {
      text-decoration: none;
      border-style: solid;
      border-color: white;
      border-width: 8px;
      display: flex;
      justify-self: center;
      align-self: center;
      background-color: red;
      position: absolute;
      display: block;
      display: inline-block;
      height: 90%;
      width: 90%; }
    .diamond_menu_container .diamond_menu #philo {
      grid-area: 1 / 1 / 2 / 2;
      background: url("../imgs/diamond_menu/philo.png");
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .diamond_menu_container .diamond_menu #philo:hover {
        transform: scale(1.1);
        transition: 1s;
        cursor: pointer; }
      .diamond_menu_container .diamond_menu #philo p {
        transform: rotate(-45deg);
        color: white;
        font-weight: 800;
        font-size: 2rem; }
        @media only screen and (max-width: 620px) {
          .diamond_menu_container .diamond_menu #philo p {
            font-size: 1.2rem; } }
    .diamond_menu_container .diamond_menu #about {
      grid-area: 1 / 2 / 2 / 3;
      background: url("../imgs/diamond_menu/about.png");
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .diamond_menu_container .diamond_menu #about:hover {
        transform: scale(1.1);
        transition: 1s;
        cursor: pointer; }
      .diamond_menu_container .diamond_menu #about p {
        transform: rotate(-45deg);
        color: white;
        font-weight: 800;
        font-size: 2rem; }
        @media only screen and (max-width: 620px) {
          .diamond_menu_container .diamond_menu #about p {
            font-size: 1.2rem; } }
    .diamond_menu_container .diamond_menu #train {
      grid-area: 2 / 1 / 3 / 2;
      background: url("../imgs/diamond_menu/train.png");
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .diamond_menu_container .diamond_menu #train:hover {
        transform: scale(1.1);
        transition: 1s;
        cursor: pointer; }
      .diamond_menu_container .diamond_menu #train p {
        transform: rotate(-45deg);
        color: white;
        font-weight: 800;
        font-size: 2rem; }
        @media only screen and (max-width: 620px) {
          .diamond_menu_container .diamond_menu #train p {
            font-size: 1.2rem; } }
    .diamond_menu_container .diamond_menu #contact {
      grid-area: 2 / 2 / 3 / 3;
      background: url("../imgs/diamond_menu/contact.png");
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center; }
      .diamond_menu_container .diamond_menu #contact:hover {
        transform: scale(1.1);
        transition: 1s;
        cursor: pointer; }
      .diamond_menu_container .diamond_menu #contact p {
        transform: rotate(-45deg);
        color: white;
        font-weight: 800;
        font-size: 2rem; }
        @media only screen and (max-width: 620px) {
          .diamond_menu_container .diamond_menu #contact p {
            font-size: 1.2rem; } }

.footer {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer .footer_menu {
    text-align: center;
    padding: 10px;
    font-weight: 200;
    font-size: 12px;
    cursor: pointer; }
  .footer img {
    height: 30px; }
  .footer a {
    text-decoration: none;
    color: black; }

/*# sourceMappingURL=main.css.map */
