$primary-color: #92e5e5;

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    min-height: 8vh;
    background-color: whitesmoke;


    .logo1 {
        height: 5vh;
    }
    .logo2 {
        height: 5vh;
        display: none;
    }
    .nav-links {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        
        a { 
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
            text-align: center;
            font-weight: 200;
            font-size: 12px;
            letter-spacing: 2px;
            height: 8vh;
            width: 100px;
            transition: all 0.5s ease;

            &:hover {
                // color: black;
            }
            color: black;
            text-decoration: none;
        }
        li {
            transition: all 0.5s ease;
            height: 8vh;
            &:hover {
                cursor: pointer;
                // color: black;
                // background-color: white;
            }
            list-style: none;
        }
        
    }
   
    .burger div {
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav .logo2 {
        height: 5vh;
        display: flex;
    }
    
    .nav-links {
        z-index: 999;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0px;
        height: 40vh;
        top: 8vh;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(-120%);
        transition: transform 1s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }
    nav .burger {
        z-index: 1;
        display: block;
        cursor: pointer;
    }
    nav .logo1 {
        display: none;
    }
    nav #logo1 {
        display: none;
    }

}

.nav-active {
    transform: translateY(0%);
}




@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: transform 0.5s ease-in;
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    transition: transform 0.5s ease-in;
}


.landing {
    height: 90vh;
    background: url("../imgs/contact/1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 768px) {
        height: 80vh;
    }
    
    .form_container {
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 400px;
        background: url("../imgs/diamond_menu/topo_background.png");
        background-size: cover;
        background-position: center;
        @media only screen and (max-width: 768px) {
            height: 80vh;
            width: 100vw;
            border-radius: 0px;
        }
        h2 {
            color: white;
            border-style: solid;
            border-width: 5px;
            padding: 0px 20px 0px 20px;
        }
        .form {
            width: 300px;
            background-color: $primary-color;
            color: white;
            padding: 20px;
            border-radius: 15px;
            .input {
                outline: none;
                border-style: none;
                border-radius: 15px;
                width: 280px;
                padding: 5px;
            }
            .btn_cont {
                display: flex;
                justify-content: center;
                align-items: center;
                button:active{
                    background-color: $primary-color;
                    color: white;
                }
                .submit {
                    outline: none;
                    color: $primary-color;
                    border-style: none;
                    padding: 10px 20px 10px 20px;
                    border-radius: 15px;
                    @media only screen and (max-width: 768px) {
                        background-color: white;
                    }
                    
                }
            }
        }
    }
}

// FOOTER

.footer {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer_menu {
        text-align: center;
        padding: 10px;
        font-weight: 200;
        font-size: 12px;
        cursor: pointer;
    }
    img {
        height: 30px;
    }
    a {
        text-decoration: none;
        color: black
    }
}
